<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout
				pattern="----%n[%t] %5p - %x%n - %c{1} - %m%n" /> 
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.graphql.example.http.log4j2" level="TRACE" />

		<Root level="DEBUG">
			<AppenderRef ref="stdout" />
		</Root>
	</Loggers>
</Configuration>